@model PROJETO01.Modelos.Estado

<h1>
    @Model.UF
</h1>

<h4>
    @Model.Nome
</h4>


<div class="alert alert-warning">
    OOOHH NOO.
</div>


<input type="text" value="@Model.UF" class="form-control" />
<br />
<input type="text" value="@Model.Nome" />
<label for="cars">Choose a car:</label>

<select name="cars" id="cars">
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
</select>

<br />
<br />
<button class="btn btn-block btn-success">
    SUCESSO!
</button>