@{
    ViewData["Title"] = "Home Page";
}

<h1>
    @ViewBag.Disciplina  @ViewBag.Nome
</h1>

<div class="text-center">
    <h1 class="display-4">Unicar</h1>
</div>

<div class=" mw-100 ml-lg-5">
    <img class="mw-100" src="/img/FotoMapa.jpg " />

</div>
